* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mycenterHelp {
    font-weight: 300;
    margin-top: 15px;
}

.aadiline {
    height: 2px;
    width: 1300px;
    background-color: springgreen;
    margin: auto;
    margin-top: 35px;
}

.helpemail1,
.helpnum1 {
    margin-top: 25px;
    text-align: center;
}

.helpemail2,
.helpnum2 {
    margin-top: 10px;
    text-align: center;
}

.fourinone {
    margin: auto;
    height: 230px;
    width: 1300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nonestyl {
    list-style-type: none;
    border-radius: 50px;
    background-color: springgreen;
    color: black;
    overflow: hidden;
}

.nonestyle1:hover::after{
    content: "Order";
    display: flex;
    justify-content: center;
}
.nonestyle2:hover::after{
    content: "Payment";
    display: flex;
    justify-content: center;
}
.nonestyle3:hover::after{
    content: "ForCall";
    display: flex;
    justify-content: center;
}
.nonestyle4:hover::after{
    content: "Other";
    display: flex;
    justify-content: center;
}

.helpin1 {
    height: 150px;
}

.helpin1 {
    transition: all .2s ease-in-out;
}

.helpin1:hover {
    transform: scale(1.1);
}

.mytitleforhelp{
    height: 60px;
    width: 1300px;
    margin: auto;
}

.lefthelp{
    margin-top: 10px;
    float: left;
    font-weight: 250;
}

.clrhvrmate{
    outline: 1px solid black;
    float: left;
}

.mytitleforhelp:hover,.mycenterHelp:hover{
    cursor:default;
}


/* search.jsx mi css chhe */

table , td , th{
    border: 1px solid black;
}